---
import SiteLayout from '../../layouts/SiteLayout.astro';
import Breadcrumbs from '../../components/Breadcrumbs.astro';
import Schema from '../../components/Schema.astro';
import ArticleCard from '../../components/ArticleCard.astro';
import { articlesBySection, buildBreadcrumbs, sectionMeta } from '../../data/articles';

const items = articlesBySection('toidulisandid').filter((entry) => entry.type === 'pillar');
---
<SiteLayout title="Toidulisandid | Vitamiiniinfo.ee" description={sectionMeta.toidulisandid.description} canonical="https://vitamiiniinfo.ee/toidulisandid/">
  <Schema slot="head" pageUrl="/toidulisandid/" canonicalUrl="https://vitamiiniinfo.ee/toidulisandid/" pageTitle="Toidulisandid" pageDescription={sectionMeta.toidulisandid.description} categoryName="Toidulisandid" categoryDescription={sectionMeta.toidulisandid.description} categoryItems={items} />
  <Breadcrumbs items={buildBreadcrumbs('/toidulisandid/')} />
  <h1>Toidulisandid</h1>
  <p>{sectionMeta.toidulisandid.description}</p>
  <div class="grid cols-2">{items.map((article) => <ArticleCard article={article} />)}</div>
</SiteLayout>
